.container {
    margin: 15px;
    border-radius: 12px;
}

.header {
    margin: 0;
}

.infoTitle {
    margin: 4px;
    /*color: rgb(89, 99, 110);*/
}

.infoText {
   /* color: rgb(31, 35, 40);*/
}

